@import "tailwindcss";

@keyframes rotate {
  0% {
    transform: scale(1.4) rotate(0deg);
  }
  100% {
    transform: scale(1.4) rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: scale(1.4) rotate(0deg);
  }
  100% {
    transform: scale(1.4) rotate(360deg);
  }
}

@keyframes rotate3 {
  0% {
    transform: scale(1.4) rotate(0deg);
  }
  100% {
    transform: scale(1.4) rotate(360deg);
  }
}

/* Media Queries */
@media (max-width: 768px) {
  /* .page-container removed */
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}